@import "mixins";

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #F4F4F4;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.relative-pos {
  position: relative;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}


.footer,
.toolbar{
  height: 60px;
  background-color: #FFF;
  font-size: 14px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .15);
}

ul {
  text-decoration: none;
  list-style: none;
}

.inlinelist {
  display: -webkit-inline-box;
}

.toolbar {
  width: 80%;
  height: 100%;
  margin: auto;
  .icon {
    height: 40px;
    width: 40px;
    position: relative;
  }
  .userhead {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  span:hover {
    cursor: pointer;
    color: #666;
  }
}

.app-dashproject {
  min-height: calc(100% - 120px);
}

.dashproject {
  margin: 75px 0px 75px 0px;

  .project-head {
    height: 70px;
    p {
      float: left;
      font-size: 1.9em;
      font-weight: 100;
    }
    .btn {
      float: right;
      cursor: pointer;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
      padding: 12px 18px;
      font-weight: 600;
      color: #FFF;
      background-color: #4dd87b;
    }
  }
  .projects-container {
    .project {
      margin: 50px 20px 0px 20px;
      width: 300px;
      background-color: #ECF1F3;
      text-align: center;
      .planstatus {
        text-align: right;
        padding: 6px 8px;
      }
      img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        .project-icon {
          vertical-align: middle;
        }
      }
      input {
        height: 30px;
        width: 110px;
        margin: auto;
        outline: none;
        position: absolute;
        top: 0;
        left: 90px;
        display: none;
      }
      p {
        font-size: .95em;
        margin: 15px 0;
        color: #8b919a;
      }
      .progress_bar {
        margin-bottom: 20px;
        padding: 0 17%;
        p {
          margin: 10px 0;
          font-size: .85em;
          text-align: left;
        }
      }
      .apihead, .storagehead {
        height: 5px;
        margin: auto;
        background-color: #FFF;
      }
      .api_bar, .storage_bar {
        height: 100%;
        background-color: #4E88FF;
      }
      .project-option {
        background-color: #FFF;
        height: 69px;
        padding: 20px 20px 28px 20px;
      }
      -webkit-transition: box-shadow .2s,
      transform .2s;
      @include clearfix;
    }
    .project:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
      -webkit-transform: translate(0, -4px);
    }
  }
}

.footer {
  width: 100%;
  .container {
    display: table;
  }
  ul {
    display: table-cell;
    vertical-align: middle;
    li {
      margin-right: 20px;
      float: left;
      color: #8b919a;
    }
  }
}
