<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="cleartype" content="on" />
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
    <title>Cloudboost</title>
    <link rel="stylesheet" media="all" href="/.build/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
</head>

<body>
    <div id="app"><%-markup-%></div>
    <script src="/.build/js/vendor.js"></script>
    <script src="/.build/js/app.bundle.js"></script>
    <%- scriptTag %>
 </body>

 </html>
